USE [Mega_StagingDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_BISBeforeETL]    Script Date: 2024/4/2 上午 10:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER     PROCEDURE  [dbo].[sp_BISBeforeETL] 
as
begin
		
	DECLARE @TimeID AS DECIMAL
	SELECT @TimeID=replace(dbo.Get_BP_Parameter('Monthly','BatchDate'),'-','')
	DECLARE @GLFlag AS CHAR(2)=substring(cast(@TimeID as char(8)),7,2)
	DECLARE @DataDate AS DECIMAL=Case when @GLFlag = '02' then concat(left(@TimeID,6),'01') else @TimeID end



	--DELETE N表
	DELETE FROM ACMCALC.dbo.N_EXPOSUREGUARANTEE_MAP		WHERE TIMEID = @TimeID
	DELETE FROM ACMCALC.dbo.N_EXPOSURECOLLATERAL_MAP	WHERE TIMEID = @TIMEID 
	DELETE FROM ACMCALC.dbo.N_OPRISKINCOME				WHERE TIMEID = @TimeID
	DELETE FROM ACMCALC.dbo.N_OPRISKADDITIONALINFO		WHERE TIMEID = @TimeID
	DELETE FROM ACMCALC.dbo.N_GUARANTEE					WHERE TIMEID = @TIMEID	
	DELETE FROM ACMCALC.dbo.N_EXPOSURES					WHERE TIMEID = @TIMEID	
	DELETE FROM ACMCALC.dbo.N_DEDUCTIONS				WHERE TIMEID = @TimeID
	DELETE FROM ACMCALC.dbo.N_CAPITAL					WHERE TIMEID = @TimeID
	DELETE FROM ACMCALC.dbo.N_COLLATERAL				WHERE TIMEID = @TIMEID	
	DELETE FROM ACMCALC.dbo.N_MARGINAGREEMENT			WHERE TIMEID = @TIMEID	
	DELETE FROM ACMCALC.dbo.N_MARKETPARTICIPANT			WHERE TIMEID = @TIMEID
	DELETE FROM ACMCALC.dbo.N_CURRENCYCF				WHERE TIMEID = @TIMEID	
	DELETE FROM ACMCALC.dbo.N_JURISDICTIONCURRENCYCF	WHERE TIMEID = @TIMEID 
	DELETE FROM ACMCALC.dbo.N_NETTINGPOOL				WHERE TIMEID = @TIMEID	
	DELETE FROM ACMCALC.dbo.N_EXPOSURES_RECONCILE		WHERE TIMEID = @TIMEID

	--DELETE BP_N表
	DELETE FROM Mega_StagingDB.dbo.BP_N_EXPOSUREGUARANTEE_MAP		WHERE TIMEID = @TimeID
	DELETE FROM Mega_StagingDB.dbo.BP_N_EXPOSURECOLLATERAL_MAP		WHERE TIMEID = @TIMEID 
	DELETE FROM Mega_StagingDB.dbo.BP_N_OPRISKINCOME				WHERE TIMEID = @TimeID
	DELETE FROM Mega_StagingDB.dbo.BP_N_OPRISKADDITIONALINFO		WHERE TIMEID = @TimeID
	DELETE FROM Mega_StagingDB.dbo.BP_N_GUARANTEE					WHERE TIMEID = @TIMEID	
	DELETE FROM Mega_StagingDB.dbo.BP_N_EXPOSURES					WHERE TIMEID = @TIMEID	
	DELETE FROM Mega_StagingDB.dbo.BP_N_DEDUCTIONS					WHERE TIMEID = @TimeID
	DELETE FROM Mega_StagingDB.dbo.BP_N_CAPITAL						WHERE TIMEID = @TimeID
	DELETE FROM Mega_StagingDB.dbo.BP_N_COLLATERAL					WHERE TIMEID = @TIMEID	
	DELETE FROM Mega_StagingDB.dbo.BP_N_MARGINAGREEMENT				WHERE TIMEID = @TIMEID	
	DELETE FROM Mega_StagingDB.dbo.BP_N_MARKETPARTICIPANT			WHERE TIMEID = @TIMEID
	DELETE FROM Mega_StagingDB.dbo.BP_N_NETTINGPOOL					WHERE TIMEID = @TIMEID	
	DELETE FROM Mega_StagingDB.dbo.BP_N_EXPOSURES_RECONCILE			WHERE TIMEID = @TIMEID

IF @GLFlag = '01'    
BEGIN

	DECLARE @TWD char(3);
	select @TWD=[CURRENCYID] from [ACMCALC].[dbo].[MC_CURRENCY] where CURRENCYISOCODE ='TWD'
	DECLARE @THB char(3);
	select @THB=[CURRENCYID] from [ACMCALC].[dbo].[MC_CURRENCY] where CURRENCYISOCODE ='THB'
	DECLARE @USD char(3);
	select @USD=[CURRENCYID] from [ACMCALC].[dbo].[MC_CURRENCY] where CURRENCYISOCODE ='USD'
	declare @datadateB date;
	set @datadateB=eomonth([dbo].[Get_BP_Parameter] ('Monthly','BatchDate'));


	--predata
	INSERT INTO [ACMCALC].[dbo].[N_CURRENCYCF]
	([CURRENCYID],[TOCURRENCYID],[TIMEID],[CURRENCYCF],[SCENARIOID])
	(select b.[CURRENCYID],@TWD,@TIMEID,1,10010
	from IDOT0004_Monthly a left join [ACMCALC].[dbo].[MC_CURRENCY] b on a.FR_CURR_CODE=b.CURRENCYISOCODE 
	where b.CURRENCYISOCODE  is not null  and SUBSTRING(replace(FR_DATA_DATE,'-',''),1,6)=SUBSTRING(cast(@TimeID as nvarchar),1,6))

	INSERT INTO [ACMCALC].[dbo].[N_CURRENCYCF]
	([CURRENCYID],[TOCURRENCYID],[TIMEID],[CURRENCYCF],[SCENARIOID])
	(select b.[CURRENCYID],@THB,@TIMEID,1,10010
	from IDOT0004_Monthly a left join [ACMCALC].[dbo].[MC_CURRENCY] b on a.FR_CURR_CODE=b.CURRENCYISOCODE 
	where b.CURRENCYISOCODE  is not null  and b.CURRENCYID <> 0)
	


	--新增TWD匯率
	delete from [dbo].[IDOT0039_Monthly] where [CURR] = '00'
	INSERT INTO [dbo].[IDOT0039_Monthly]([CURR],[SWIFT]) VALUES ('00','TWD')

	--匯率資料留存	
	delete from ReportDB.dbo.His_IDOT0004 where FR_DATA_DATE=(select top 1 FR_DATA_DATE from IDOT0004_Monthly)
	insert into ReportDB.dbo.His_IDOT0004
	select eomonth(FR_DATA_DATE),FR_CURR,FR_CURR_CODE,FR_AC_RATE,FR_LF_RATE,BUY_RATE,SELL_RATE,FR_MT_RATE
	from IDOT0004_Monthly

	delete from ReportDB.dbo.His_DW_FXRTHOVS where DT=(select top 1 DT from DW_FXRTHOVS_Monthly)
	insert into ReportDB.dbo.His_DW_FXRTHOVS
	select eomonth(DT),BR_CD,CUR_CD,CUR_CD_3C,HOME_FG,AGNT_LOC_RT,AGNT_TWD_RT,MUL_DIV_L,MUL_DIV_T 
	from DW_FXRTHOVS_Monthly
	
	--刪除批次日已有的匯率表
	--DELETE from ACMCALC..N_CURRENCYCF
	--WHERE TIMEID=@TimeID
	----and TOCURRENCYID in(SELECT CURRENCYID FROM IDOT0004_Monthly ID
	----INNER JOIN ACMCALC..MC_CURRENCY CU ON CU.CURRENCYISOCODE=ID.FR_CURR_CODE)  and CURRENCYID=0
	 
	--BIS匯率匯入N表
	INSERT INTO ACMCALC..N_CURRENCYCF(CURRENCYID,TOCURRENCYID,TIMEID,CURRENCYCF,SCENARIOID)
	SELECT 
	0 AS CURRENCYID,
	CURRENCYID AS TOCURRENCYID,
	@TimeID AS TIMEID,
	1.0/FR_AC_RATE AS CURRENCYCF,
	10100 AS SCENARIOID
	FROM IDOT0004_Monthly ID
	INNER JOIN ACMCALC..MC_CURRENCY CU ON CU.CURRENCYISOCODE=ID.FR_CURR_CODE
	WHERE FR_AC_RATE>0--排除匯率為0的資料
	AND SUBSTRING(replace(FR_DATA_DATE,'-',''),1,6)=SUBSTRING(cast(@TimeID as nvarchar),1,6)
END
--拿一號複製二號
ELSE IF @GLFlag = '02'    
BEGIN
	INSERT INTO ACMCALC..N_CURRENCYCF(CURRENCYID,TOCURRENCYID,TIMEID,CURRENCYCF,CREATIONDATE,SCENARIOID)
	SELECT 
	CURRENCYID AS CURRENCYID,
	TOCURRENCYID AS TOCURRENCYID,
	@TimeID AS TIMEID,
	CURRENCYCF AS CURRENCYCF,
	GETDATE(),
	SCENARIOID AS SCENARIOID
	FROM ACMCALC..N_CURRENCYCF 
	WHERE TIMEID = @DataDate
END
	--20221201
	--UPDATE BP_SERIAL_NO_MGR		SET SerialNo=25899		WHERE HostName='COLLATERALID'
	--UPDATE BP_SERIAL_NO_MGR		SET SerialNo=15183		WHERE HostName='EXPOSUREID'
	--UPDATE BP_SERIAL_NO_MGR		SET SerialNo=1251		WHERE HostName='MARGINAGREEMENTID'
	--UPDATE BP_SERIAL_NO_MGR		SET SerialNo=668		WHERE HostName='MARKETPARTICIPANTID'
	--UPDATE BP_SERIAL_NO_MGR		SET SerialNo=1311		WHERE HostName='NETTINGPOOLID'
	--UPDATE BP_SERIAL_NO_MGR		SET SerialNo=1			WHERE HostName='GUARANTEEID'

	--查看是否需要新增分行別
	DECLARE @NAME NVarChar(50);
	DECLARE @BRNO NVarChar(50);
	DECLARE @MaxNum NVarChar(50);

	drop table if exists #ORGSTRUC;
	CREATE  table #ORGSTRUC(
		GTBR_BRNO	nvarchar(3),
		GTBR_NAME	nvarchar(20)
	)

	insert into #ORGSTRUC
	SELECT GTBR_BRNO,GTBR_NAME
	FROM Mega_StagingDB.dbo.IDOT0002_Monthly
	WHERE GTBR_BRNO NOT IN
	(
	SELECT CURRENTRECDESC
	FROM ACMCALC.dbo.OC_ORGSTRUC
	)
	AND GTBR_BREK_FLAG <> 'Y'
	AND GTBR_BRNO_FLAG IN ('1','2','4')
	AND GTBR_ACC_FLAG <> 'N'
	AND GTBR_BRNO NOT IN ('0E3')

	declare @tmpCount int
	select @tmpCount=count(*) from #ORGSTRUC

	while @tmpCount>0
	begin
		select top 1 @NAME=GTBR_NAME,@BRNO=GTBR_BRNO from #ORGSTRUC order by GTBR_BRNO
		select @MaxNum=Max(ParamValue)+1 from  Mega_StagingDB.dbo.BP_TransferRule where ParamGroup='ORGSTRUCID'

		insert into Mega_StagingDB.dbo.BP_TransferRule(ParamGroup,ParamKey,ParamValue) values
		('ORGSTRUCID',@BRNO,@MaxNum)

		insert into ACMCALC.dbo.OC_ORGSTRUC(ORGSTRUCID,ORGSTRUCDESC,ORGL01,CURRENTRECDESC,FROMTIMEID,TOTIMEID,CREATIONDATE) values
		(@MaxNum,@NAME,@MaxNum,@BRNO,'19900101','20501201',getdate())

		delete from #ORGSTRUC where GTBR_BRNO=@BRNO
		select @tmpCount = count(GTBR_BRNO) from #ORGSTRUC
	end
end
